html,body,p,ul,li{margin: 0;padding: 0}
.zebra-dm-cardlist .cardlist-info .address:before,.zebra-dm-cardlist .cardlist-tags-item-tag:before {
    -webkit-background-size: .65rem auto;
    -moz-background-size: .65rem auto;
    content: ''
}

.zebra-dm-cardlist {
    font-family: sans-serif
}

.zebra-dm-cardlist .scrollbar {
    -webkit-overflow-scrolling: touch
}

.zebra-dm-cardlist .scrollbar::-webkit-scrollbar-thumb {
    background-color: transparent;
    width: 0
}

.zebra-dm-cardlist .scrollbar::-webkit-scrollbar {
    width: 0;
    height: 0;
    display: none
}

.zebra-dm-cardlist .scrollbar::-webkit-scrollbar-track-piece {
    background-color: transparent;
    -webkit-border-radius: 0
}

.zebra-dm-cardlist .wrap {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999999999999
}

.zebra-dm-cardlist .banner {
    width: 10rem;
    height: 12rem;
    background-color: #000;
    overflow: hidden
}

.zebra-dm-cardlist .banner img {
    width: 100%
}

.zebra-dm-cardlist .cardlist {
    font-size: 0;
    background-color: #f8f8f8;
    min-height: 18rem;
    width: 10rem;
    margin: 0 auto
}

.zebra-dm-cardlist .cardlist-box {
    width: 10rem;
    max-height: 6.52rem;
    padding: 0 .32rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #fff;
    margin-bottom: .26666667rem
}

.zebra-dm-cardlist .cardlist-img,.zebra-dm-cardlist .cardlist-img img {
    width: 2.46666667rem;
    height: 3.25333333rem
}

.zebra-dm-cardlist .cardlist-img {
    display: inline-block;
    overflow: hidden;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem;
    vertical-align: top;
    margin: .48rem 0
}

.zebra-dm-cardlist .cardlist-info {
    display: inline-block;
    width: 6.49333333rem;
    height: 3.33333333rem;
    overflow: hidden;
    margin: .4rem 0 .48rem .4rem;
    vertical-align: top;
    -webkit-border-bottom-right-radius: .08rem;
    -moz-border-radius-bottomright: .08rem;
    border-bottom-right-radius: .08rem;
    -webkit-border-bottom-left-radius: .08rem;
    -moz-border-radius-bottomleft: .08rem;
    border-bottom-left-radius: .08rem
}

.zebra-dm-cardlist .cardlist-info-title {
    font-size: .45333333rem;
    color: #222;
    line-height: .61333333rem;
    max-height: 1.22666667rem;
    overflow: hidden;
    font-weight: bolder
}

.zebra-dm-cardlist .cardlist-info-sitedate {
    height: .46rem;
    font-size: .34666667rem;
    color: #999;
    overflow: hidden;
    margin-top: .10666667rem;
    vertical-align: middle
}

.zebra-dm-cardlist .cardlist-info-sitedate-site {
    display: inline-block;
    margin-right: .29333333rem
}

.zebra-dm-cardlist .cardlist-info .address {
    color: #000;
    position: relative;
    padding-left: .4rem
}

.zebra-dm-cardlist .cardlist-info .address:before {
    width: .36rem;
    height: .41rem;
    position: absolute;
    left: 0;
    top: .06rem;
    display: inline-block;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-size: .65rem auto;
    background-position: -.01rem -.48rem
}

.zebra-dm-cardlist .cardlist-info-attention {
    display: inline-block;
    height: .58666667rem;
    margin-top: .24rem
}

.zebra-dm-cardlist .cardlist-info-attention-bg {
    height: .58666667rem;
    background-color: #FF1268;
    background-image: -webkit-linear-gradient(135deg,#FE3FB6 0,#FF1268 100%);
    background-image: -moz-linear-gradient(135deg,#FE3FB6 0,#FF1268 100%);
    background-image: linear-gradient(-45deg,#FE3FB6 0,#FF1268 100%);
    font-size: .34666667rem;
    color: #FFF;
    position: relative;
    line-height: .58666667rem;
    padding: 0 .24rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem .08rem .29rem;
    -moz-border-radius-bottomright: .29rem;
    -webkit-border-bottom-right-radius: .29rem
}

.zebra-dm-cardlist .cardlist-info-attention-recommend {
    display: inline-block;
    background-color: #f2f3f4;
    font-size: .34666667rem;
    color: #222;
    line-height: .58666667rem;
    text-align: center;
    padding: 0 .24rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem .08rem .29rem;
    -moz-border-radius-bottomright: .29rem;
    -webkit-border-bottom-right-radius: .29rem
}

.zebra-dm-cardlist .cardlist-info-attention-label {
    font-size: .34666667rem;
    color: #222;
    position: relative
}

.zebra-dm-cardlist .cardlist-info-attention-label span {
    height: .25333333rem;
    width: .26666667rem;
    margin-right: .13333333rem;
    display: inline-block;
    -webkit-background-size: .13333333rem .25333333rem;
    -moz-background-size: .13333333rem .25333333rem;
    background-size: .13333333rem .25333333rem
}

.zebra-dm-cardlist .cardlist-info-attention-label:before {
    position: absolute;
    top: .30666667rem;
    left: .26666667rem;
    content: '';
    width: 0;
    height: 0;
    border-top: .2rem solid transparent;
    border-right: .2rem solid transparent;
    border-bottom: .2rem solid #F8F8F8;
    border-left: .2rem solid transparent
}

.zebra-dm-cardlist .cardlist-info-desc {
    font-size: .34666667rem;
    color: #999;
    line-height: .53333333rem;
    margin-top: .2rem;
    max-height: 1.04rem;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist-tags {
    width: 100%;
    height: .66666667rem;
    border-top: .5px solid #E7E7E7;
    padding-top: .32rem;
    padding-bottom: .28rem;
    font-size: .32rem
}

.zebra-dm-cardlist .cardlist-tags-item {
    float: left;
    font-size: 0
}

.zebra-dm-cardlist .cardlist-tags-item-tag {
    display: inline-block;
    position: relative;
    padding-left: .2rem
}

.zebra-dm-cardlist .cardlist-tags-item-tag:before {
    display: inline-block;
    width: .24rem;
    height: .57rem;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    background-size: .65rem auto;
    background-position: -.42rem .01rem;
    position: absolute;
    left: 0;
    top: 0
}

.zebra-dm-cardlist .cardlist-tags-item span {
    height: .57rem;
    line-height: .57rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem .32rem .32rem .08rem;
    font-size: .32rem;
    color: #000;
    display: inline-block;
    background-color: #E8E8E8;
    padding-right: .22rem;
    padding-left: .01rem;
    margin-right: .24rem;
    -webkit-border-top-right-radius: .32rem;
    -moz-border-radius-topright: .32rem;
    -webkit-border-bottom-right-radius: .32rem;
    -moz-border-radius-bottomright: .32rem
}

.zebra-dm-cardlist .cardlist-tags-like {
    float: right;
    font-size: 0;
    color: #000;
    position: relative;
    padding-top: .01rem
}

.zebra-dm-cardlist .cardlist-tags .likenum,.zebra-dm-cardlist .cardlist-tags .likenum2 {
    font-size: .34666667rem
}

.zebra-dm-cardlist .cardlist-tags .likenum {
    position: relative
}

.zebra-dm-cardlist .cardlist-tags .likenum2 {
    margin-left: .1rem
}

.zebra-dm-cardlist .cardlist-tags .likenum:after {
    content: '';
    width: .41rem;
    height: .14rem;
    display: inline-block;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: .65rem auto;
    -moz-background-size: .65rem auto;
    background-size: .65rem auto;
    background-position: 0 0;
    position: absolute;
    left: 50%;
    margin-left: -.2rem;
    bottom: -.13rem
}

.zebra-dm-cardlist .cardlist .descbg {
    padding: .05333333rem .16rem;
    font-size: .34666667rem;
    margin-top: .06666667rem;
    color: #999;
    line-height: .52rem;
    background-color: #F8F8F8;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem
}

.zebra-dm-cardlist .cardlist .content {
    width: 10rem;
    position: relative;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    margin-bottom: .26666667rem
}

.zebra-dm-cardlist .cardlist .content-item {
    background-color: rgba(98,57,2,.85);
    position: relative
}

.zebra-dm-cardlist .cardlist .content-box {
    position: relative
}

.zebra-dm-cardlist .cardlist .content-box-typeinfo {
    height: .53333333rem;
    display: inline-block;
    margin-left: .32rem;
    margin-top: .32rem;
    border: .8px solid #FFF;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist .content-box-typeinfo-one {
    display: inline-block;
    vertical-align: top;
    min-width: .33333333rem;
    height: .53333333rem;
    line-height: .53333333rem;
    padding: 0 .13333333rem;
    text-align: center;
    font-size: .29333333rem;
    color: #532F02;
    background-color: #FFF
}

.zebra-dm-cardlist .cardlist .content-box-typeinfo-one img {
    width: .42666667rem;
    height: .42666667rem;
    margin-top: -.05333333rem
}

.zebra-dm-cardlist .cardlist .content-box-typeinfo-two {
    display: inline-block;
    height: .53333333rem;
    line-height: .53333333rem;
    padding: 0 .16rem;
    font-size: .29333333rem;
    color: #FFF;
    text-align: center
}

.zebra-dm-cardlist .cardlist .content-box-wrap {
    margin: .4rem 0 .45333333rem .32rem;
    min-height: 3.3rem;
    position: relative
}

.zebra-dm-cardlist .cardlist .content-box-content {
    width: 6.41333333rem;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist .content-box-content-quotes {
    width: .37333333rem;
    height: .30666667rem;
    -webkit-background-size: .37333333rem .30666667rem;
    -moz-background-size: .37333333rem .30666667rem;
    background-size: .37333333rem .30666667rem
}

.zebra-dm-cardlist .cardlist .content-box-content-title {
    font-size: .56rem;
    max-height: 1.5rem;
    line-height: .8rem;
    color: #FFF;
    overflow: hidden;
    font-weight: 700;
    margin-top: .02666667rem
}

.zebra-dm-cardlist .cardlist .content-box-content-desc {
    margin-top: .18666667rem;
    line-height: .56rem;
    font-size: .34666667rem;
    color: #FFF;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist .content-box-img {
    position: absolute;
    right: .32rem;
    top: 50%;
    margin-top: -1.62666667rem;
    width: 2.46666667rem;
    height: 3.25333333rem;
    -webkit-box-shadow: 0 0 1rem rgba(0,0,0,.5);
    -moz-box-shadow: 0 0 1rem rgba(0,0,0,.5);
    box-shadow: 0 0 1rem rgba(0,0,0,.5)
}

.zebra-dm-cardlist .cardlist .content-box-img img {
    width: 2.46666667rem;
    height: 3.25333333rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem
}

.zebra-dm-cardlist .cardlist .content-box-video:after {
    width: 100%;
    height: 100%;
    content: '';
    background-color: rgba(0,0,0,.1);
    -webkit-background-size: .8rem auto;
    -moz-background-size: .8rem auto;
    background-size: .8rem auto;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%,-50%);
    -moz-transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%)
}

.zebra-dm-cardlist .cardlist .content-comment {
    height: 1.06666667rem;
    line-height: 1.06666667rem;
    position: relative
}

.zebra-dm-cardlist .cardlist .content-comment-opactiy {
    width: 100%;
    height: 100%;
    background-color: #623902;
    -moz-opacity: .8;
    opacity: .8
}

.zebra-dm-cardlist .cardlist .content-comment-item {
    display: inline-block;
    position: absolute;
    left: 0;
    top: -.06666667rem;
    margin: 0 .32rem;
    width: 9.36rem;
    border-top: .5px solid rgba(255,255,255,.4)
}

.zebra-dm-cardlist .cardlist .content-comment-item-head {
    float: left;
    width: .48rem;
    padding-right: .16rem
}

.zebra-dm-cardlist .cardlist .content-comment-item-head img {
    width: .48rem;
    height: .48rem;
    -webkit-border-radius: .48rem;
    -moz-border-radius: .48rem;
    border-radius: .48rem;
    vertical-align: middle
}

.zebra-dm-cardlist .cardlist .content-comment-item-info {
    float: left;
    font-size: .29333333rem;
    color: #FFF
}

.zebra-dm-cardlist .cardlist .goodslist {
    width: 10rem;
    height: 7.6rem;
    background-repeat: no-repeat;
    background-position: center;
    -webkit-background-size: 10rem 8.17333333rem;
    -moz-background-size: 10rem 8.17333333rem;
    background-size: 10rem 8.17333333rem;
    margin-bottom: .26666667rem;
    display: none
}

.zebra-dm-cardlist .cardlist .goodslist-box {
    width: 10rem;
    height: 7.6rem;
    overflow: hidden;
    position: relative
}

.zebra-dm-cardlist .cardlist .goodslist-box-bg {
    width: 100%;
    height: 100%;
    background-color: #241D1D;
    -moz-opacity: .85;
    opacity: .85
}

.zebra-dm-cardlist .cardlist .goodslist-box-title {
    position: absolute;
    top: .48rem;
    width: 8rem;
    font-weight: 700;
    text-align: center;
    font-size: .56rem;
    color: #FFF;
    margin: 0 1rem;
    height: .8rem;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist .goodslist-box-likenum {
    width: 100%;
    position: absolute;
    top: 1.41333333rem;
    text-align: center;
    font-size: .34666667rem;
    color: #FFF
}

.zebra-dm-cardlist .cardlist .goodslist-box-wrap {
    height: 5.06666667rem;
    overflow-x: auto;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -moz-box;
    display: flex
}

.zebra-dm-cardlist .cardlist .goodslist-box-wrap-prolist-item {
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    height: 4.72rem;
    width: 3.2rem;
    margin-left: .24rem;
    background-color: #E7E7E7;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem
}

.zebra-dm-cardlist .cardlist .goodslist-box-wrap-prolist-item:first-child {
    margin-left: .32rem
}

.zebra-dm-cardlist .cardlist .goodslist-box-wrap-prolist-item-none {
    width: .001rem;
    margin-left: .32rem
}

.zebra-dm-cardlist .cardlist .goodslist-box-scroll {
    width: 100%;
    height: 4.85333333rem;
    position: absolute;
    top: 2.29333333rem;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist .prolist-imginfo {
    position: relative;
    width: 3.2rem;
    height: 3.73333333rem
}

.zebra-dm-cardlist .cardlist .prolist-imginfo-info {
    width: 3.2rem;
    height: 3.73333333rem;
    position: absolute;
    overflow: hidden;
    top: 0
}

.zebra-dm-cardlist .cardlist .prolist-imginfo-info img {
    width: 3.2rem;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem
}

.zebra-dm-cardlist .cardlist .prolist-imginfo-info span {
    width: 2.88rem;
    height: .64rem;
    line-height: .64rem;
    padding: 1.09333333rem .16rem .24rem;
    position: absolute;
    overflow: hidden;
    top: 1.86666667rem;
    left: 0;
    z-index: 100;
    font-size: .34666667rem;
    text-align: center;
    color: #FFF;
    letter-spacing: 0;
    background-repeat: no-repeat;
    -webkit-background-size: 3.2rem 1.86666667rem;
    -moz-background-size: 3.2rem 1.86666667rem;
    background-size: 3.2rem 1.86666667rem
}

.zebra-dm-cardlist .cardlist .prolist-imginfo-likenum {
    width: 1.28rem;
    position: absolute;
    top: 0;
    left: -.01rem;
    height: .57rem;
    line-height: .5rem;
    background-repeat: no-repeat;
    -webkit-background-size: 1.28rem auto;
    -moz-background-size: 1.28rem auto;
    background-size: 1.28rem auto;
    text-align: center;
    overflow: hidden
}

.zebra-dm-cardlist .cardlist .likenum01 {
    display: inline-block;
    font-size: .34666667rem;
    color: #fff;
    letter-spacing: 0;
    padding-right: .28rem;
    position: relative
}

.zebra-dm-cardlist .cardlist .likenum01:after {
    content: '';
    position: absolute;
    right: 0;
    top: .14rem;
    display: inline-block;
    width: .25rem;
    height: .22rem;
    background-image: url(../image/bg.png);
    background-repeat: no-repeat;
    -webkit-background-size: .44rem .58rem;
    -moz-background-size: .44rem .58rem;
    background-size: .44rem .58rem;
    background-position: 0 -.1rem
}

.zebra-dm-cardlist .cardlist .prolist-title {
    width: 3.09333333rem;
    height: .98666667rem;
    line-height: .98666667rem;
    text-align: center;
    font-size: .34666667rem;
    color: #222;
    overflow: hidden;
    padding: 0 .05333333rem;
    font-weight: 700;
    background-color: #fff;
    -webkit-border-bottom-right-radius: .08rem;
    -moz-border-radius-bottomright: .08rem;
    border-bottom-right-radius: .08rem;
    -webkit-border-bottom-left-radius: .08rem;
    -moz-border-radius-bottomleft: .08rem;
    border-bottom-left-radius: .08rem
}

.zebra-dm-cardlist .automatic-load {
    width: 10rem;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    background-color: #f8f8f8;
    font-size: .34666667rem;
    color: #CCC;
    letter-spacing: 0
}

.zebra-dm-cardlist .automatic-load span {
    display: inline-block;
    vertical-align: middle
}

.zebra-dm-cardlist .automatic-load .dm-loading__item__circle:before {
    content: "";
    display: block;
    margin: 0 auto;
    width: 8%;
    height: 30%;
    background: #999;
    -webkit-border-radius: .13333rem;
    -moz-border-radius: .13333rem;
    border-radius: .13333rem
}

.zebra-dm-cardlist .automatic-load__item {
    width: .42rem;
    height: .42rem;
    display: inline-block;
    -webkit-border-radius: .21rem;
    -moz-border-radius: .21rem;
    border-radius: .21rem;
    text-align: center;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    vertical-align: middle
}

.zebra-dm-cardlist .message-div {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    display: none;
    background-color: #fff;
    text-align: center
}

.zebra-dm-cardlist .message-div .message-img {
    width: 2.7rem;
    height: 3rem;
    position: absolute;
    left: 50%;
    top: 25%;
    margin-left: -1.35rem;
    -webkit-background-size: 5.41rem 2.44rem;
    -moz-background-size: 5.41rem 2.44rem;
    background-size: 5.41rem 2.44rem;
    background-repeat: no-repeat;
    background-position: left top;
    background-color: #fff
}

.zebra-dm-cardlist .message-div .message-img2 {
    height: 2.44rem;
    background-position: right top;
    -webkit-animation: message .5s infinite;
    -moz-animation: message .5s infinite;
    animation: message .5s infinite
}

.zebra-dm-cardlist .message-div .message-text {
    width: 100%;
    position: absolute;
    left: 0;
    top: 25%;
    margin-top: 2.7rem;
    text-align: center
}

.zebra-dm-cardlist .message-div .message-span-reload,.zebra-dm-cardlist .message-div .message-span-tip {
    display: block
}

.zebra-dm-cardlist .message-div .message-span-reload {
    margin-top: .3rem;
    display: inline-block;
    border: 1px solid #999;
    padding: .05rem .2rem;
    color: #999;
    -webkit-border-radius: .08rem;
    -moz-border-radius: .08rem;
    border-radius: .08rem
}

@-webkit-keyframes message {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@-moz-keyframes message {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}

@keyframes message {
    0% {
        opacity: 0
    }

    100% {
        opacity: 1
    }
}
